body {
        color: #000000;
        background-color: #ffffff;
}
.style1 {color: #000000}
a:link {
        color: #222222;
        text-decoration: underline;
}
a:visited {
        text-decoration: underline;
        color: #999999;
}
a:hover {
        text-decoration: none;
        color: #79f911;
}
a:active {
        text-decoration: underline;
        color: #222222;
}
.style21 {
        color: #000000;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
}
.style23 {font-size: 14px}
.style24 {font-size: 12px}
.style25 {color: #000000; font-size: 12px; }
.style26 {
        color: #000000;
        font-weight: bold;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
}
.style28 {font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.style29 {font-family: Arial, Helvetica, sans-serif}
.style31 {color: #222222; font-family: Arial, Helvetica, sans-serif; }
.style36 {font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #000000;}
.style50 {font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #222222;}

